@import '../index.scss';
//use classname instead of Button to prevent override
.btn {
  border-radius: 100px;
  color: $brand-white;
  cursor: pointer;
  box-shadow: 0;
  transition: 
    background-color .5s ease,
    box-shadow 0.3s ease-in-out;
}

//isdisabled state
//use design semantics mixin in css (spacing [spacing--a] and color [primary/danger/warning/accent])
//add accessbility (aria, tab)


// Button Styles

.primary {
  background-color: $brand-color;
  &:hover{
    background-color: $brand-color-hover;
    box-shadow: $basic-shadow;
  }
  &:active {
    background-color: $brand-color-active;
    box-shadow: $basic-shadow;
  }
}
.ghost {
  background-color: transparent;
  &:hover{
    box-shadow: $basic-shadow;
  }
  &:active {
    background-color: $brand-color-active;
    box-shadow: $basic-shadow;
  }
}

// Button Sizes

.medium {
  font-size: 16px;
  padding: 16px 24px;
}

.large {
  font-size: 20px;
  padding: 16px 24px;
}
